{% extends 'base.html.twig' %}

{% block body %}
    <body role="document">

        {{ include('default/navigation.html.twig') }}
    

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1></h1>
        <p>All Users are listed in following table. Users data can be edited, added and deleted on this page.</p>
        <p></p>
      </div>

      <div class="page-header">
        <h1>Users</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Number of Tasks</th>
                <th>Actions</th>
               
              </tr>
            </thead>
            <tbody>
                {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                 <td>{{ user.email }}</td>
                 {% set tasks = user.getTasks() %}
                  <td>{{ tasks|length }}</td>
                  <td> <a href="{{ app.request.getSchemeAndHttpHost() }}/app/user/{{ user.id }}/edit"><icon class="glyphicon glyphicon-edit btn-sm btn-primary"><span>&nbsp;Edit</span></icon></a>&nbsp;<icon class="glyphicon glyphicon-exclamation-sign btn-danger btn-sm"><span>&nbsp;Delete</span></icon</td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
{% endblock %}
